{% extends "base.html" %}


{% block content %}

<style>
    .password-container{
        width: 50%;
        height: 450px;
        margin: auto;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        border-radius: 20px;
    }
    .input_section{
        width: 300px;
        height: 40px;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        margin-top: 5px;
   }
</style>

<div class="change-form container">
    <div class="password-container">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %} {{ hidden_field.errors }} {{ hidden_field }} {% endfor %}
            <h3 class="text-center">Change Password</h3>
            <hr>
            {% for field in form %}
          <div class="form-group">
            <label for="{{ field.id }}" class="input_title">{{field.label_tag}}</label>
            <br>
            <input type="{{ field.field.widget.input_type }}"
                   name="{{ field.name }}"
                   class="input_section"
                   {% if field.value %} value="{{ field.value }}"{% endif %}
                   {% if field.field.required %} required {% endif %}>
            {% if field.errors %}
              <small class="error">{{ field.errors|striptags }}</small>
            {% endif %}
          </div>
        {% endfor %}
    
        <button class="btn btn-success mt-3 text-center" type="submit">Change Password</button>
        </form>
    </div>
</div>

{% endblock %}