{% extends "base.html" %}


{% block content %}

<style>
    .change-form{
        width: 70%;
        height: 70vh;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .change-form form div{
        padding: 10px;
    }
</style>

<div class="change-form container bg-info">
    
    <form method="post" >
        {% csrf_token %} 
        <h3 class="text-white">Change Password</h3>
        {% for fm in form %}
            <div>
                <label for="{{ fm.id_for_label }}">
                    {{ fm.label }}
                </label>
                <br>
                <input  name="{{ fm.name }}" id="{{ fm.id_for_label }}" type="{{ fm.widget_type }}">
            </div>
        {% endfor %}

        <div >
            <button class="btn btn-success" type="submit">Change Password</button>
        </div>
    </form>
</div>

{% endblock %}