{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->

<style>
    .reg-cont{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    img{
        width: 100%;
        /* width: 700px; */
        /* border: 1px solid gray; */
    }
    .form-container{
        margin-top: 80px;
        padding: 20px 100px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        border-radius: 20px;
        /* border: 1px solid black; */
    }
    .form-container .input_section{
        padding: 10px 50px;
        border: none;
        border-radius: 10px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        margin-top: 8px;
    }
    
</style>



<div class="reg-cont container">
    
    <div>
        <img src="{% static 'coreimages/register01.jpg' %}" alt="Register-image">
    </div>
    <div class="form-container">
        <h1 class="text-dark text-center">Register here</h1>
        <hr>
        <form method="post" action="" novalidate>
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %} {{ hidden_field.errors }} {{ hidden_field }} {% endfor %}
            {% for field in form %}
              <div class="form-group">
                <label for="{{ field.id }}" class="input_title">{{ field.label_tag }}</label>
                <input type="{{ field.field.widget.input_type }}"
                       name="{{ field.name }}"
                       class="input_section"
                       {% if field.value %} value="{{ field.value }}"{% endif %}
                       {% if field.field.required %} required {% endif %}>
                {% if field.errors %}
                  <small class="error">{{ field.errors|striptags }}</small>
                {% endif %}
              </div>
            {% endfor %}

            <button class="btn btn-success mt-3" type="submit">Register</button>
            <p class="plog mt-3">Already have an account <a href="{% url 'login' %}">Login</a></p>
        </form>
    </div>
</div>

{% endblock %}