{% extends "base.html" %}


{% block content %}

    <style>
        .art-form{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 100px;
            height: 80vh;
            padding: 100px;
        }
        .inpt{
            padding: 10px 20px;
        }
        /* .art-form form div{
            padding-top: 10px;
        } */
    </style>

    <div class="art-form container bg-info">
        <form action="" method="post">
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %} {{ hidden_field.errors }} {{ hidden_field }} {% endfor %}

            <div >
                <label  for="{{ form.user.id_for_label }}">
                    {{ form.user.label }}
                </label>
                <br>
                {{ form.user }} {% if form.user.errors %}
                <p>{{ errors | striptags }}</p>
                {% endif %}
            </div>

            <div >
                <label  for="{{ form.category.id_for_label }}">
                    {{ form.category.label }}
                </label>
                <br>
                {{ form.category }} {% if form.category.errors %} 
                <p>{{ errors | striptags }}</p>
                {% endif %}
            </div>

            <div >
                <label  for="{{ form.headline.id_for_label }}">
                    {{ form.headline.label }}
                </label>
                <br>
                {{ form.headline }} {% if form.headline.errors %} <p>{{ errors | striptags }}</p>
                {% endif %}
            </div>

            <div >
                <label  for="{{ form.body.id_for_label }}">
                    {{ form.body.label }}
                </label>
                <br>
                {{ form.body }} {% if form.body.errors %} <p>{{ errors | striptags }}</p>
                {% endif %}
            </div>

            <div >
                <label  for="{{ form.image.id_for_label }}">
                    {{ form.image.label }}
                </label>
                <br>
                {{ form.image }} {% if form.image.errors %} <p>{{ errors | striptags }}</p>
                {% endif %}
            </div>
            <button class="btn btn-warning mt-2" type="submit">Post</button>
        </form>
    </div>
{% endblock %}