{% extends "base.html" %}


{% block content %}

<style>
.category-container{
    margin-top: 100px;
    gap: 100px;
    /* height: 100vh; */
}
.category-left{
    width: 230px;
    padding: 10px 40px;
    /* height: 100vh; */
    /* border: 1px solid gray; */
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.category-left a{
    margin-top: 8px;
    text-decoration: none;
    color: black;
}
.category-left a:hover{
    text-decoration: underline;
    color: blue;
    font-weight: bold;
}
.card{
    overflow: hidden;
}
.cate-image{
    width: 300px;
    height: 200px;
}
.cat-right{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
}
.category-right p a{
    text-decoration: none;
    color: black;
}
.category-right p a:hover{
    text-decoration: underline;
    color: blue;
}
p .a-link{
    text-decoration: none;
    color: black;
}
.link-div{
    margin-top: 100px;
    padding-left: 100px;
}
p .a-link:hover{
    text-decoration: underline;
    color: blue;
}
</style>



    <div class="category-container container d-flex">
        <div class="category-left">
                <a href="{% url 'categories' %}">All</a>
                {% for category in categories %}
                    <a class="dropdown-item" href="{% url 'category_slug' category.slug %}">{{category.name}}</a>
                {% endfor %}
        </div>
        <div class="category-right cat-right">
             {% for article in articles %}
             <!-- <p><a href="{% url 'detail' article.id %}">{{article.headline | truncatechars:150}}</a></p> -->
             <div class="card" style="width: 18rem;">
                {% if article.image %}
                <img class="cate-image" src="{{article.image.url}}" class="card-img-top" alt="...">
                {% else %}
                <h2>No Image Found</h2>
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{ article.headline | truncatechars:50}}</h5>
                  <p class="card-text">{{ article.body | truncatechars:100}}</p>
                  <a href="{% url 'detail' article.id %}" class="btn btn-primary">Details</a>
                </div>
              </div>
             {% endfor %}
        </div>
        
    </div>
    <div class="link-div container">
        {% for article in articles %}
        <p><a class="a-link" href="{% url 'detail' article.id %}">{{ article.headline | truncatechars:50}}</a></p>
        {% endfor %}
    </div>
{% endblock %}