
<style>
    .foot-container div ul li{
        text-decoration: none;
        list-style-type: none;
    }
</style>


<footer class="mt-5 bg-success">
    <div class="container">
        <div class="pt-3">
            <p>Get connected with us on social networks:</p>
            <hr>
        </div>
        
        <div class="foot-container row">
            <div class="col-3">
                <h1>About Us</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, ut quo eaque, quam saepe beatae illum quas ex ipsam reiciendis aut sed unde esse a veritatis cupiditate, repellat ratione aliquam.</p>
            </div>
            <div class="col-3">
                <ul>
                    <h3>Company</h3>
                    <li>About Us</li>
                    <li>Service</li>
                    <li>Case Studies</li>
                    <li>Blog</li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <h3>Company</h3>
                    <li>About Us</li>
                    <li>Service</li>
                    <li>Case Studies</li>
                    <li>Blog</li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <h3>Company</h3>
                    <li>About Us</li>
                    <li>Service</li>
                    <li>Case Studies</li>
                    <li>Blog</li>
                </ul>
            </div>
        </div>
        <hr>
        <div>
            <p class="text-center p-3">© {% now "Y" %} Copyright : SUMON DEBNATH</p>
        </div>
    </div>
    
</footer>