{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    .bg-img{
        width: 50%;
    }
    .carosual{
        margin-top: 100px;
        border: none;
    }
    .cat-container div{
        text-align: center;
    }
    .news-tag a{
        text-decoration: none;
        color: black;
    }
    .news-tag :hover{
        text-decoration: underline;
        color: blue;
    }
    .news-container{
        margin-top: 50px;
        padding: 50px;
    }
    .news-container .news-title h2{
        font-weight: bold;
        color: rgb(16, 32, 27);
        text-decoration: underline;
    }
</style>

<!-- <div >
    <img class="bg-img" src="{% static 'images/Background.png' %}" alt="">
</div> -->

<div class="carosual container">
    <div class="swiffy-slider slider-nav-round slider-nav-animation slider-nav-animation-fadein slider-item-first-visible">
        <ul class="slider-container">
            <li class="">
                <div class="card rounded-0 h-100 text-white">
                    <img src="{% static 'carouselimage/sports01.png' %}" class="card-img h-100" style="max-height: 100%; max-width: 100%; object-fit: cover" alt="...">
                    <div class="card-img-overlay d-flex align-items-start align-items-md-center justify-content-center flex-column">
                        <p class="card-text lead col-md-8 col-lg-6">Cricket World Cup Qualifiers Underway: The Cricket World Cup qualifiers are underway, with teams competing for a chance to secure a spot in the prestigious tournament. The qualifiers feature intense cricket matches, as teams strive to qualify for the pinnacle event in international cricket.</p>
                    </div>
                </div>
            </li>
            <li class="slide-visible">
                <div class="card rounded-0 h-100">
                    <div class="row g-0 h-100">
                        <div class="col-md-6 col-xl-5 d-flex align-items-center p-2 p-md-3 p-xl-5">
                            <div class="card-body p-1 p-md-3 p-xl-5">
                                <p class="lead">Technology</p>
                                <h2 class="card-title" style="color:#DF1E1E;">Google Faces Antitrust Scrutiny in Europe</h2>
                                <p class="card-text mt-3"> Google came under increased scrutiny in Europe over alleged anti-competitive behavior related to its advertising technology. European regulators are investigating whether Google abuses its dominant market position to disadvantage competitors.</p>
                                <p class="card-text"><small class="text-muted">Remember to check out on mobile</small></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-7">
                            <img src="{% static 'carouselimage/carou01.jpg' %}" class="card-img d-none d-md-block" loading="lazy" style="height: 100%; object-fit: cover;" alt="carousel-images">
                            
                        </div>
                    </div>
                </div>
            </li>
            <li class="">
                <div class="card rounded-0 h-100">
                    <div class="row g-0 h-100">
                        <div class="col-md-6 col-xl-7">
                            <img src="{% static 'carouselimage/crime01.jpeg' %}" class="card-img d-none d-md-block" loading="lazy" style="height: 100%; object-fit: cover" alt="...">
                        </div>
                        <div class="col-md-6 col-xl-5 d-flex align-items-center p-2 p-md-3 p-xl-5">
                            <div class="card-body p-1 p-md-3 p-xl-5">
                                <p class="lead">Gang Violence Escalates in Urban Centers</p>
                                <h2 class="card-title" style="color:#DF1E1E;">Corruption Scandal Rocks Government Officials</h2>
                                <p class="card-text mt-3">A corruption scandal rocked government officials, with allegations of bribery, embezzlement, and abuse of power surfacing. Investigations were launched to hold those involved accountable and restore public trust in governmental institutions.</p>
                                <p class="card-text"><small class="text-muted">Corruption Scandal Rocks Government Officials</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            
        </ul>
    
        <button type="button" class="slider-nav" aria-label="Go left"></button>
        <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
    
        <div class="slider-indicators">
            <button class="active" aria-label="Go to slide"></button>
            <button aria-label="Go to slide" class=""></button>
            <button aria-label="Go to slide" class=""></button>
        </div>
    </div>
</div>

<!-- <div class="cat-container container mt-5">
    <div>
        <h2>Categories</h2>
    </div>
    <div class="cate-section gap-5 mt-4">
        {% for category in categories %}
        <a class="btn btn-secondary" href="{% url 'category_slug' category.slug %}">{{category.name}}</a>
        {% endfor %}
    </div>
</div> -->

<div class="news-container container">
    <div class="news-title text-center mb-4">
        <h2>News</h2>
    </div>
    {% for article in articles %}
    <div class="mt-2">
        <p class="news-tag"><a href="{% url 'detail' article.id %}">{{article.headline | truncatechars:50}}</a></p>
    </div>
    {% endfor %}
</div>

{% endblock %}